<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>

        <div class="contenido">
            <h2 style="text-align: center">[[#{e403.titulo}]]</h2>
            <p>[[#{e403.texto}]]</p>
            <a th:href="@{/}">[[#{accion.regresar}]]</a>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
