<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>

    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Datos Categoria</h2>
            <br/>
            <a th:href="@{/categoria/listado}">Regresar</a>
            <br/>
            <form th:action="@{/categoria/guardar}"
                  method="post"
                  th:object="${categoria}">

                <input type="hidden" name="idCategoria" th:field="*{idCategoria}"/>

                <label for="descripcion">Descripción:</label>
                <input type="text" name="descripcion" th:field="*{descripcion}"/>
                <br/>
                <label for="activo">Activa:</label>
                <input type="checkbox" name="activo" th:field="*{activo}"/>
                <br/>
                <input type="submit" name="guardar" value="Guardar" sec:authorize="hasRole('ROLE_ADMIN')"/>
            </form>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
