<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/plantilla :: head">
        <title>TechShop</title>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>

        <section id="acctions" class="py-4 bg-light">
            <div class="container">
                <div class="row"></div>
            </div>
        </section>
        <section id="login">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="card">
                            <div class="card-header">
                                <h4>[[#{login.login}]]</h4>
                            </div>
                            <div class="card-body">
                                <form method="post" th:action="@{/login}">
                                    <div class="row py-1 mb-2 bg-light">
                                        <label for="username">[[#{login.username}]]</label>
                                        <input type="text" name="username" id="username"/>
                                    </div>
                                    <div class="row py-1 mb-2 bg-light">
                                        <label for="password">[[#{login.password}]]</label>
                                        <input type="password" name="password" id="password"/>
                                    </div>
                                    <div class="row py-1 mb-2 bg-light">
                                        <button type="submit" value="Login">[[#{login.login}]]</button>
                                    </div>
                                </form>            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
